{% load i18n %}
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav ml-auto">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            
            <div class="nav-item dropdown btn-group mt-1" style="background-color:transparent">
              <a class="btn dropdown-toggle" style="color:white" data-toggle="dropdown" href="#">
                {% if LANGUAGE_CODE == "en" %}
                  English <i class="fas fa-language"></i><span class="caret"></span>
                {% elif LANGUAGE_CODE == "de" %}
                  Deutsch <img src="/static/assets/img/icons/common/germany.svg" width="fit-content" height="15" alt="NordESG Logo"></i><span class="caret"></span>
                {% else %}
                  Language <i class="fas fa-language"></i><span class="caret"></span>
                {% endif %}
              </a>
              <ul class="dropdown-menu" style="max-width: 100%;">
                {% for language in languages %}
                <li style="text-align: center;">
                  <a href="{% url 'change_language_login' ln=language.code %}" style="color:black">
                    <!-- <option value="{{ language.code }}" -->
                        <!-- {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}> -->
                        {{ language.name_local }} 
                    <!-- </option> -->
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

            <li class="nav-item">
            <a target="_blank"
               class="nav-link nav-link-icon" href="#">
              <i class="fas fa-address-book"></i>
              <span class="nav-link-inner--text">{% trans 'Contact Us' %}</span>
            </a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
