{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Stakeholders - NordESG' %} {% endblock title %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'stakeholders/index/new_style.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                          <div class="row ">
                            <div class="col-6 ">
                              <h3 class="mb-0">{{ form.title }}</h3>
                            </div>
                            <div class="col-6" style="display:flex;gap:1rem;align-items:center;justify-content:right;width:100%;">
                                <a href="{% url 'view_form' form.code %}">
                                <img src="{% static 'stakeholders/Icon/eye.png' %}" alt="Preview icon" title = "Preview" class="nav-form-menu-icon big-screen" />
                                </a>
                            </div>

                          </div>
                            <div class="row pt-4">
                                <div class="" style="display: flex;gap: 3rem; justify-content:center; width:100%">
                                    <button class="btn-2"><a href = "{% url 'edit_form' form.code %}" class="link">Questions</a></button>
                                    <button class="btn-2"><a href = "{% url 'score' form.code %}" class="link">Metrices</a></button>
                                    <button class="btn-2 active">Responses</button>
                                </div>

                            </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        <div class="margin-top-bottom box question-box" id="responses">
            {% if responses.count > 0 %}
            <h1 class="response-title">Individual Response:</h1>
            <ul>
                {% for i in responses %}
                    {% if form.collect_email %}
                        <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder_email}}'s response</a></li>
                    {% elif form.authenticated_responder %}
                        <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder.username}}'s response</a></li>
                    {% else %}
                        <li><a href = "{% url 'response' form.code i.response_code %}" class="link">{{i.responder_ip}}'s response</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <button class="btn btn-danger" id="delete-responses">Delete all responses</button>
            {% else %}
            <h1 class="response-title">0 responses</h1>
            {% endif %}
        </div>
    </div>
    <div class="question-options">
        <a href="{% url 'view_form' form.code %}">
            <img src = "{% static 'stakeholders/Icon/eye.png' %}" class = "form-option-icon" title = "Preview" alt = "Preview icon" />
        </a>
        <a href="{% url 'edit_form' form.code %}">
            <img src="{% static 'stakeholders/Icon/question.png' %}" alt="Edit Question" title="Edit this form" class="form-option-icon">
        </a>
    </div>

    <div class="modal" id="setting">
        <div class="modal-content txt-clr">
            <form id="setting-form">
                <span class="modal-close-btn" id="close-setting">&times;</span>
                <h1 class = "modal-title">Setting</h1>
                <h4 class="setting-preview-form small-screen"><a href="{% url 'view_form' form.code %}">Preview form here</a></h4>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">General</h3>
                        <input type="checkbox" id="collect_email"{% if form.collect_email %} checked {% endif %}>
                        <label for="collect_email" class="setting-form-label">Collect email address</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="authenticated_responder" {% if form.authenticated_responder %} checked {% endif %}>
                        <label for="authenticated_responder" class="setting-form-label">Respondent account must be authenticated. (Signed in required)</label>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">Confirmation message:</h3>
                        <textarea rows="1" class="confirmation-msg-input edit-on-click textarea-adjust" spellcheck="false"
                         id="comfirmation_message">{{form.confirmation_message}}</textarea>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">Respondents can:</h3>
                        <input type="checkbox" id="edit_after_submit" {% if form.edit_after_submit %}checked{% endif %}>
                        <label for="edit_after_submit" class="setting-form-label">Edit after submit</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="form-control btn btn-save-setting">
                    </div>
                </div>
            </form>
            <form id="delete-form" class="modal-division">
                <fieldset class="form-group">
                    <legend class="modal-subtitle text-danger danger-zone">Danger Zone</legend>
                    <h3 class="delete-form-title">Delete this form</h3>
                    <p class="delete-form-description">Once you delete a form, there is no going back. Please be certain.</p>
                    <input type="submit" value="Delete" class="form-control delete-form-btn">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal" id="send-form">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-send-form">&times;</span>
            <h1 class = "modal-title">Send form</h1>
            <div class="modal-division">
                <h4 class="modal-subtitle">Link:</h4>
                <input type="url" class="form-control" value="{{request.get_host}}/form/{{form.code}}/viewform" copy-btn id="copy-url">
            </div>
            <button class="btn btn-submit" copy-btn>Copy</button>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'index/responses.js' %}" defer></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
{% endblock %}