{% extends 'layouts/base.html' %} {% load i18n %} {% block title %} {% trans 'Add Data - NordESG' %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="card bg-secondary shadow m-3">
  <div class="card-header bg-white border-0">
    <h3 style="text-align: center; font-family: 'Barlow', sans-serif !important">Choose Framework, Category, SubCategory, Year of Attempt</h3>
    <hr />
    <!-- loading spinner -->
    <div class="wrapper"></div>
    <div class="spanner">
      <div class="loader"></div>
      <p>Fetching data...</p>
    </div>
    <!-- ------------ -->
    <form method="post" enctype="multipart/form-data" action="{% url 'add-data' %}" style="display: flex; justify-content: center">
      {% csrf_token %}
      <div style="width: 100%;">
        <div class="form-group" style="display: grid; grid-template-columns: 1fr 1fr; gap: 2rem">
          {% for field in form.visible_fields %}
          <div class="field-control" style="display: inline-block; margin-right: 10px">{{ field }}</div>
          {% endfor %}
        </div>
        <div class="field-control" style="display: grid; place-items: center">
          <button id="question_filter_button" type="submit" name="question-filter" class="btn btn-primary mt-0" style="width: 100%">{% trans 'Get Data' %}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="text-center text-muted mb-4" style="font-size: 0.6rem">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
    <a>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</a> {{ message }}
  </div>
  {% endfor %} {% endif %}
</div>

<div class="accordion" id="accordionExample">
  {% for question in questions %}
  <div class="card m-3">
    <div class="card-header" id="heading{{question.question.id}}">
      <h5 class="mb-0">
        <button class="btn btn-hover-text-white btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{question.question.id}}" aria-expanded="false" aria-controls="collapse{{question.question.id}}" style="width: 100%;">
          <span style="width: 100%;white-space: pre-wrap;">{{question.question.question}}</span> {% if question.value == None%}
          <span class="badge badge-danger">Not Attempted</span>
          {% else %}
          <span class="badge badge-success">Attempted</span>
          {% endif %}
        </button>
      </h5>
    </div>
    <div id="collapse{{question.question.id}}" class="collapse" aria-labelledby="heading{{question.question.id}}" data-parent="#accordionExample">
      <div class="card-body">
        <form name="answersForm" enctype="multipart/form-data" action="{% url 'save-answer' question.question.id %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <strong>{% trans 'Description' %}</strong>
                <pre style="white-space: pre-wrap">{{question.question.description}}</pre>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <strong>{% trans 'Code' %}</strong>
                <p>{{question.question.code}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <strong>{% trans 'Unit' %}</strong>
                <p>{{question.question.unit}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <strong class="form-control-label">{% trans 'Answer' %}</strong>
                <textarea name="value" class="form-control" cols="30" rows="1">{{question.value|default_if_none:""}}</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <strong class="form-control-label">{% trans 'Comments' %}</strong>
                <textarea name="comment" class="form-control" cols="30" rows="1">{{question.comment|default_if_none:""}}</textarea>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <div class="form-group form-check">
                {% if question.optional %}
                <input type="checkbox" class="form-check-input" id="optionalCheck" name="optional" checked />
                <label class="form-check-label" for="optionalCheck"><strong class="form-control-label">{% trans 'Not Applicable' %}</strong></label>

                {% else %}
                <input type="checkbox" class="form-check-input" id="optionalCheck" name="optional" />
                <label class="form-check-label" for="optionalCheck"><strong class="form-control-label">{% trans 'Not Applicable' %}</strong></label>

                {% endif %}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-check">
                {% if question.set_goal %}
                <input type="checkbox" class="form-check-input" id="setgoal" name="setgoal" checked />
                <label class="form-check-label" for="optionalCheck"><strong class="form-control-label">{% trans 'Set Goal' %}</strong></label>
                {% else %}
                <input type="checkbox" class="form-check-input" id="setgoal" name="setgoal" />
                <label class="form-check-label" for="optionalCheck"><strong class="form-control-label">{% trans 'Set Goal' %}</strong></label>

                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="">
                <button type="submit" class="btn btn-primary mt-4">{% trans 'Submit' %}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<script>
  $(document).ready(function () {
    $("#id_framework").change(function () {
      var optionSelected = $(this).find("option:selected");
      var valueSelected = optionSelected.val();
      var name = optionSelected.text();
      data = { name: name, id_value: valueSelected };
      $("div.spanner").toggleClass("show");

      $.ajax({
        type: "get",
        url: "/getcategories",
        data: data,
        success: function (result) {
          $("#id_category option").remove();
          for (var i = result.length - 1; i >= 0; i--) {
            $("#id_category").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
          }
          $("div.spanner").toggleClass("show");
          $("#id_category").removeAttr("disabled");
          $("#id_sub_category").attr('disabled','disabled');
        },
      });
    });
  });

  $(document).ready(function () {
    $("#id_category").change(function () {
      var optionSelected = $(this).find("option:selected");
      var FrameworkSelected = $("#id_framework").find("option:selected");
      var valueSelected = optionSelected.val();
      var name = optionSelected.text();
      data = { framework:FrameworkSelected.val(),name: name, id_value: valueSelected };
      console.log(data);
      $("div.spanner").toggleClass("show");

      $.ajax({
        type: "get",
        url: "/getsubcategories",
        data: data,
        success: function (result) {
          $("#id_sub_category option").remove();
          for (var i = result.length - 1; i >= 0; i--) {
            $("#id_sub_category").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
          }
          $("div.spanner").toggleClass("show");
          $("#id_sub_category").removeAttr("disabled");
        },
      });
    });
  });

  $(document).ready(() => {
    var optionSelected = $("#id_category").find("option:selected");
    var FrameworkSelected = $("#id_framework").find("option:selected");
    var valueSelected1 = optionSelected.val();

    var subcategorSelected = $("#id_sub_category").find("option:selected");
    var subValueSelected = subcategorSelected.val();
    var name = optionSelected.text();
    if (valueSelected1) {
      data = { name: name, id_value: valueSelected1,framework:FrameworkSelected.val()};
      $("div.spanner").addClass("show");

      $.ajax({
        type: "get",
        url: "/getsubcategories",
        data: data,
        success: function (result) {
          $("#id_sub_category option").remove();
          for (var i = result.length - 1; i >= 0; i--) {
            if (result[i].id == subValueSelected){
              $("#id_sub_category").append("<option selected value=" + result[i].id + ">" + result[i].name + "</option>");
            }else{ 
              $("#id_sub_category").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
            }
          }
          // $("div.spanner").toggleClass("show");
          $("#id_sub_category").removeAttr("disabled");
        },
      });
    } else {
      $("#id_sub_category").attr("disabled", "disabled");
      console.log("Loading sub-category dropdown based on category using script: No category selected");
    }
    // -----
    var optionSelected = $("#id_framework").find("option:selected");
    var valueSelected = optionSelected.val();
    var name = optionSelected.text();
    if (valueSelected) {
      data = { name: name, id_value: valueSelected };
      $.ajax({
        type: "get",
        url: "/getcategories",
        data: data,
        success: function (result) {
          $("#id_category option").remove();
          for (var i = result.length - 1; i >= 0; i--) {
            if (result[i].id == valueSelected1){
              $("#id_category").append("<option selected value=" + result[i].id + ">" + result[i].name + "</option>");
            }else{
              $("#id_category").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
            }
          }
          $("div.spanner").removeClass("show");
          $("#id_category").removeAttr("disabled");
        },
      });
    } else {
      $("#id_category").attr("disabled", "disabled");
      console.log("Loading category dropdown based on framework using script: No framework selected");
    }
  });

  $(document).ready(()=>{
    $(".language-option").click(function () {
      var language = this.id;
      var lan = 'en';
      // data = { name: name, id_value: valueSelected };
      var pathname = window.location.pathname;
      console.log(pathname);

      if(language == 'English'){
        pathname = pathname.replace('/de/', '/en/')
        lan = 'en';
      }else if(language == 'Deutsch'){
        pathname = pathname.replace('/en/', '/de/')
        lan = 'de';
      }

      var temp = window.location.href;
      temp = temp.replace(window.location.pathname, "/en/changelanguage/"+lan);
      console.log(temp);

      $.ajax({
        type: "get",
        url: temp, // 
        success: function (result) {
          console.log("language changed");
        },
        error: function(e){
          console.log("error"+e);
        }
      });

      console.log(pathname);
      // window.location.pathname = pathname;
    });
  });
</script>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
