{% extends 'layouts/base-fullscreen.html' %}
{% load i18n %}
{% block content %} 
  
  <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <p class="card-text">{% trans 'Your password has been set successfully.' %}</p>
                <a href="{% url 'user-login' %}" class="btn btn-primary">{% trans 'Log in here' %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}