{% extends 'layouts/base-fullscreen.html' %}
{% load i18n %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card-group mb-5">
            <div class="card p-4">
              <div class="card-body">

                <p>
                {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered." %}
                {% trans "You should receive them shortly." %}
                </p>
                <p>
                {% trans "If you dont receive an email, please make sure you've entered the address you registered with," %}
                {% trans "and check your spam folder." %}
                </p>


              </div>
            </div>

          </div>
        </div>
    </div>
{% endblock %}