{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} Status - NordESG {% endblock title %}

{% block content %}
<div class="card bg-secondary shadow m-3">
<div class="card-header bg-white border-0">
<h3 style="text-align: center; font-family:'Barlow', sans-serif !important">Choose Framework, Category, SubCategory, Year of Attempt, Answer Status</h3>
<hr />
<!-- loading spinner -->
<div class="wrapper">
</div>
<div class="spanner">
  <div class="loader"></div>
  <p>Fetching data...</p>
</div>
<!-- ------------ -->
<form method="post" enctype="multipart/form-data" action="{% url 'data-status' %}" style="display: flex; justify-content:center;">
  {% csrf_token %}
  <div style="width: 100%;">
    <div class="form-group" style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 2rem;">
      {% for field in form.visible_fields %}
      <div class="field-control" style="display: inline-block; margin-right: 10px; ">{{ field }}</div>
      {% endfor %}
      <div class="field-control" style="display: inline-block; margin-right: 10px;">
        <button id="question_filter_button" type="submit" name="question-filter" class="btn btn-primary mt-0" style="width: 100%">{% trans 'Get Data' %}</button>
      </div>
    </div>
  </div>
</form>
</div>
</div>


<!-- Header -->
<div class="container mt-3">
<section class="content bg-white mb-4 rounded">
<div class="row justify-content-center">
    <div class="container mt-3 mb-3" style="cursor:pointer;overflow-x:hidden;">
        <div class="col-md d-flex justify-content-center">
            <div class="row" style="width:100%;">
                <div class="container">
                    <div class="d-flex justify-content-center">
                    {% if messages  %}
                      {% for message in messages %}
                          <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                            <a>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</a> {{ message }}
                          </div>
                      {% endfor %}
                    {% endif %}
                    </div>
                </div>
              <!-- Table -->
              <div class="container">
                    <div class="card-header border-0">
                      <h3 class="mb-0" style="text-align:center; font-family:'Barlow', sans-serif !important">{% trans 'Data Status' %}</h3>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead class="" style="background-color:#1184B0; color:white">
                          <tr>
                            <th scope="col">{% trans 'Status' %}</th>
                            <th scope="col">{% trans 'DataPoint' %}</th>
                            <th scope="col">{% trans 'Description' %}</th>
                            <th scope="col">{% trans 'Value' %}</th>
                            <th scope="col">{% trans 'Unit' %}</th>
                            <th scope="col">{% trans 'Comments' %}</th>
                          </tr>
                        </thead>
  
                        <tbody>
                        {% for answer in answers %}
                          <tr style="font-size: 12.5px">
                              <td class="text-dark">{{answer.status}}</td>
                            <td class="text-dark">{{answer.question.question|truncatechars:18}}</td>
                            <td class="text-dark">{{answer.question.description|truncatechars:12}}</td>
                            <td class="text-dark">{{answer.value|default_if_none:"NA"}}</td>
                            <td class="text-dark">{{answer.question.unit}}</td>
                            <td class="text-dark">{{answer.comment|default_if_none:"NA"}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
        </div>
    </div>
</div>
</section>

<script>
  $(document).ready(function () {
    $("#id_framework").change(function () {
      var optionSelected = $(this).find("option:selected");
      var valueSelected = optionSelected.val();
      var name = optionSelected.text();
      data = { name: name, id_value: valueSelected };
      $("div.spanner").toggleClass("show");

      $.ajax({
        type: "get",
        url: "/getcategories",
        data: data,
        success: function (result) {
          $("#id_category option").remove();
          for (var i = result.length - 1; i >= 0; i--) {
            $("#id_category").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
          }
          $("div.spanner").toggleClass("show");
          $("#id_category").removeAttr("disabled");
          $("#id_sub_category").attr('disabled','disabled');
        },
        error: function(result){
        $("div.spanner").removeClass("show");
          $("#id_category").removeAttr("disabled");
        },
      });
    });
  });

  $(document).ready(function () {
    $("#id_category").change(function () {
      var optionSelected = $(this).find("option:selected");
      var FrameworkSelected = $("#id_framework").find("option:selected");
      var valueSelected = optionSelected.val();
      var name = optionSelected.text();
      data = { framework:FrameworkSelected.val(),name: name, id_value: valueSelected };
      console.log(data);
      $("div.spanner").toggleClass("show");

      $.ajax({
        type: "get",
        url: "/getsubcategories",
        data: data,
        success: function (result) {
          $("#id_sub_category option").remove();
          for (var i = result.length - 1; i >= 0; i--) {
            $("#id_sub_category").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
          }
          $("div.spanner").toggleClass("show");
          $("#id_sub_category").removeAttr("disabled");
        },
        error: function(result){
        $("div.spanner").removeClass("show");
          $("#id_category").removeAttr("disabled");
        },
      });
    });
  });

  $(document).ready(() => {
    var optionSelected = $("#id_category").find("option:selected");
    var FrameworkSelected = $("#id_framework").find("option:selected");
    var valueSelected1 = optionSelected.val();

    var subcategorSelected = $("#id_sub_category").find("option:selected");
    var subValueSelected = subcategorSelected.val();
    var name = optionSelected.text();
    if (valueSelected1) {
      data = { name: name, id_value: valueSelected1,framework:FrameworkSelected.val()};
      $("div.spanner").addClass("show");

      $.ajax({
        type: "get",
        url: "/getsubcategories",
        data: data,
        success: function (result) {
          $("#id_sub_category option").remove();
          for (var i = result.length - 1; i >= 0; i--) {
            if (result[i].id == subValueSelected){
              $("#id_sub_category").append("<option selected value=" + result[i].id + ">" + result[i].name + "</option>");
            }else{
              $("#id_sub_category").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
            }
          }
          // $("div.spanner").toggleClass("show");
          $("#id_sub_category").removeAttr("disabled");
        },
        error: function(result){
        $("div.spanner").removeClass("show");
          $("#id_category").removeAttr("disabled");
        },
      });
    } else {
      $("#id_sub_category").attr("disabled", "disabled");
      console.log("Loading sub-category dropdown based on category using script: No category selected");
    }
    // -----
    var optionSelected = $("#id_framework").find("option:selected");
    var valueSelected = optionSelected.val();
    var name = optionSelected.text();
    if (valueSelected) {
      data = { name: name, id_value: valueSelected };
      $.ajax({
        type: "get",
        url: "/getcategories",
        data: data,
        success: function (result) {
          $("#id_category option").remove();
          for (var i = result.length - 1; i >= 0; i--) {
            if (result[i].id == valueSelected1){
              $("#id_category").append("<option selected value=" + result[i].id + ">" + result[i].name + "</option>");
            }else{
              $("#id_category").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
            }
          }

          $("div.spanner").removeClass("show");
          $("#id_category").removeAttr("disabled");
        },
        error: function(result){
        $("div.spanner").removeClass("show");
          $("#id_category").removeAttr("disabled");
        },

      });
    } else {
      $("#id_category").attr("disabled", "disabled");
      console.log("Loading category dropdown based on framework using script: No framework selected");
    }
  });

  $(document).ready(()=>{
    $(".language-option").click(function () {
      var language = this.id;
      var lan = 'en';
      // data = { name: name, id_value: valueSelected };
      var pathname = window.location.pathname;
      console.log(pathname);

      if(language == 'English'){
        pathname = pathname.replace('/de/', '/en/')
        lan = 'en';
      }else if(language == 'Deutsch'){
        pathname = pathname.replace('/en/', '/de/')
        lan = 'de';
      }

      var temp = window.location.href;
      temp = temp.replace(window.location.pathname, "/en/changelanguage/"+lan);
      console.log(temp);

      $.ajax({
        type: "get",
        url: temp, //
        success: function (result) {
          console.log("language changed");
          console.log(pathname);
       pathname = pathname.replace('/status/', '/dashboard/');
       window.location.pathname = pathname;
        },
        error: function(e){
          console.log("error"+e);
          console.log(pathname);
       pathname = pathname.replace('/status/', '/dashboard/');
       window.location.pathname = pathname;
        }
      });


    });
  });
</script>

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
